body{
	background-color: #141414;
    width: 75%;
    margin-left: auto ;
    margin-right: auto ;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}


hr {
  border-color: #52B3D9;
}

h3{
	text-align: center;	
}

.modal-header{
  color: black;
}
.modal-body{
  color: black;
}

label {
    display: block;
    font-size: 12px;
}

input, label {
    float:left;
}

.form-actions{
	margin: 0;
	background-color: orange;
	text-align: center;
}

.table td {
   text-align: center;   
}

.table th{
	text-align: center;
  color: white;
}

html, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}

.button {
    padding-top: 20px;
    text-align: center;
}

.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
  color: black;
}  

.navbar-default {
  background-color: #52B3D9;
  border-color: #52B3D9;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: black;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: black;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: #52B3D9;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: #52B3D9;
}
.navbar-default .navbar-toggle {
  border-color: #52B3D9;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #52B3D9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: black;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #52B3D9;
  }
}

